DB_HOST=localhost
DB_NAME=u540193243_te_controla_db
DB_USER=u540193243_te_controla
DB_PASS=SENHA_AQUI
SUPER_ADMIN_PASSWORD=SENHA_AQUI
APP_ENV=production
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
ASAAS_ENVIRONMENT=sandbox
