body { 
    font-family: 'Inter', sans-serif; 
    background-color: #f0f2f5; 
}

[x-cloak] { 
    display: none !important; 
}

/* Media query para melhorar a visualização de tabelas em ecrãs pequenos,
  reduzindo o preenchimento para evitar que o conteúdo fique espremido.
*/
@media (max-width: 640px) {
    .table-responsive-sm td, .table-responsive-sm th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
